body{
    font-family: 'Playfair Display', serif;
    margin: 0 auto ;
   width: 95% ; 
    
}

p{
    text-align: justify;
    margin-bottom: 40px ;
    
}
h1{
    font-size: 65px;
    
}
h2 {
    font-size: 50px ;
    text-align:center ;

}
h3{
    font-size: 45px ;

}


.margin-focused{
    border-left: 5px solid rgb(255, 102, 102);
    padding: 0px  10px;
}
.flexible-container{
    display: flex;
    padding-left: 5% ;
    padding-right: 3% ;
    margin-bottom: 100px ;
    

}

.half-width{
    width:50% ;
}
.half-width  img{
 width: 60% ;
 padding-left: 20% ;
}
.link-btn{
    text-decoration: none;
   
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
  
    border-radius: 5px;
   
    
    
}
.mission-vission-goals{
    display: flex;
   align-items: center ;
    justify-content:center ;
    margin-bottom: 100px ;
    
}
.mission-vission-goals img{
    width: 120px;
    height: 120px;
    padding-left: 5% ;
    
}
.mission-vission-goals h4{
    padding-left: 20px ;
    font-size: 25px;
   
}
.mission-vission-goals p{
    padding: 15px;
    margin-bottom: 0;
}
.mission-box{
    background-color:rgb(204, 230, 255) ;
}
.vission-box{
    background-color: rgb(255, 230, 243) ;
}
.goals-box{
    background-color:   rgb(255, 235, 204) ;
 
}
.m-v-g-box{
    width: 40%;
   
    margin-left: 5%;

    margin-right: 5%;
   
    border-radius: 4% ;
}

.limits1{
    width: 45% ;
    
   

}
.limits2{
    width: 55% ;
   
    

}



footer p{
    text-align: center;
    margin-bottom: 0;
}

.footer{
    color: white;
    
    background-color: rgb(12, 12, 19);
}